html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
.section2 .clients ul li img
{
	max-width:80%;
}
.clearfix
{
	display:none;
}
body{
	overflow-y:scroll;text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

	overflow-x: hidden;
}
/*Font Importing Starts Here*/
/*@font-face {
	font-family: "proxima-nova";
	src: url('../fonts/ProximaNova-Bold.otf')  format('truetype');
}
@font-face{
	font-family: "proxima-nova";
	src: url('../fonts/ProximaNova-BoldIt.otf')  format('truetype');
}
@font-face{
	font-family: "proxima-nova";
	src:url('../fonts/ProximaNova-Light.otf') format('truetype');
}
@font-face{
	font-family: "proxima-nova";
	src:url('../fonts/ProximaNova-LightIt.otf') format('truetype');
}
@font-face {
	font-family: "proxima-nova";
	src: url('../fonts/ProximaNova-Reg.otf')  format('truetype');
}
@font-face{
	font-family: "proxima-nova";
	src: url('../fonts/ProximaNova-RegIt.otf')  format('truetype');
}
@font-face{
	font-family: "proxima-nova";
	src:url('../fonts/ProximaNova-Thin.otf') format('truetype');
}
@font-face{
	font-family: "proxima-nova";
	src:url('../fonts/ProximaNova-ThinIt.otf') format('truetype');*/
}
/*Font Importing Ends Here*/

/*Styling for Header*/
*{
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin: 0px;
	height: auto;
	padding: 0px;
}
.navbar-default {
	margin: 0;
	padding: 15px 0;
	background: #ffffff;
}
.navbar-default .container .center p {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #999999;
	line-height: 3.25;
	margin: 0;
	margin-left: 30px;
}
.navbar-default .container .right p {
	font-family: "proxima-nova";
	font-size: 16px;
	color: #5f6870;
	line-height: 3;
	margin: 0;
}

/*Styling For Header ends here*/

/*Styling for Section1 Starts Here*/
.section1 {
	background: url('../assets/home_page/bg.jpg');
	background-origin: left top;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0;
	background-position: 100% 100%;
}
.section1 .banner {
	padding-left: 4%;
}
.section1 .banner h1 {
	color: #ffffff;
	font-weight: normal;
	margin: 40px 0 40px 0;
	font-size: 60px;
	width: 50%;
	font-weight:700;
	font-family: "proxima-nova";
}
.section1 .banner h2 {
	font-size: 26px;
	font-family: "proxima-nova";
	color: #ffffff;
	font-weight: normal;
	line-height: 1.25;
	margin-bottom: 40px;
	width: 60%;
}
.line-blue
{
	transition: unset;
}
.section1 .banner h2>b {
	font-family: "proxima-nova";
	font-weight:normal;
}
.section1 .banner button {
	background: #ff931e;
	color: #ffffff;
	font-size: 20px;
	border: 0;
	padding: 16px 50px;
	font-family: "proxima-nova";

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.section1 .banner button:hover {
	background: #E28C00;
}
/*Styling for Section1 Ends Here*/

/*Styling for Section2 Star Here*/
.section2 {
	padding: 30px 0;
	background: rgba(200,200,200,0.1);
}
.section2 .clients h1 {
	margin: 0;
	color: #b1b1b1;
	margin:10px 0 30px 0;
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}
.section2 .clients ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.section2 .clients ul li {
	float: left;
	width: 16.666%;
	margin: 0;
	padding: 0;
}
/*Styling for Section2 Ends Here*/

/*Styling for Section3 starts Here*/
.section3 {
	padding: 30px 0;
}
.section3 .highlights {
	padding: 40px 100px;
	/*text-align: center;*/
}
.section3 .highlights div {
	height: 80px;
	position: relative;
}
.section3 .highlights div img {
	width: auto;
	height: 66px;
}
.section3 .highlights h1 {
	color: #3777bc;
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 26px;
	text-align: left;
}
.section3 .highlights p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 18px;
	color: #7b7b7b;
	text-align: left;
}
/*Styling for Section3 Ends Here*/

/*Styling for section4 Starts here*/
.section4 {
	background: #5f6870;
	background: url('../assets/home_page/bg2.jpg');
	padding: 30px 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-origin: left top;
	background-size: cover;
}
.section4 .test-col-1 { padding: 30px 0; text-align: center; }

.section4 .test-col-2 p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 80px;
	color: #ffffff;
	padding: 0;
	margin: 0;
	text-align: center;
}
.section4 .test-col-2 { border-right: 2px solid rgb(255,255,255);  }

.section4 .test-col-3 { padding: 0 30px; }
.section4 .test-col-3 p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-style: italic;
	line-height: 1.25;
	margin-bottom: 0;
	font-size: 16px;
	color: #ffffff;
	padding: 10px 0 0 0;
	vertical-align: middle;
}
/*Section4 styling ends here*/

/*Section5 styling starts here*/
.section5 .values-col-1 h2 {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 36px;
	text-align: center;	
	color: #3777bc;
	margin: 40px 0 30px 0;
}
.section5 .values-col-1 p {
	padding: 0 216px;
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: #5f6870;
}
.section5 .row2 {
	padding: 50px 0;
	border-bottom: 1px solid rgba(125,125,125,0.5);
}
.section5 .values-col-1 {
	margin-bottom: 0px;
}
.section5 .small h1 {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #01a7e2;
}
.section5 .small div {
	color: #ffffff;
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 26px;
	padding: 6px 0;
	text-align: center;
	background: #01a7e2;
	border-radius: 5px;
	margin-bottom: 10px;
}
.section5 .small p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	color: #7b7b7b;
}
.section5 .big {
	padding: 25px 0;
}
.section5 .big .plum {
	height: 150px;
	width: 2px;
	float: left;
	background: #9f9f9f;
}
.section5 .big i {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #01a7e2;
}
.section5 .big div {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 42px;
	text-transform: uppercase;
	text-align: center;
	color: #01a7e2;
}
.section5 .big h2 {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0;
	color: #01a7e2;
}
.section5 .big p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	color: #7b7b7b;
}
.section5 .row3 {
	padding: 30px 0;
	border-bottom: 1px solid rgba(125,125,150,0.5);
	text-align: center;
}
.section5 .row3 img {
	margin-top: 50px;
	width: 80%;
}
.section5 .row3 .leapfrog h1 {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 36px;
	text-align: center;	
	color: #3777bc;
	margin-bottom: 10px;
}
.section5 .row3 .leapfrog h2 {
	font-family: "proxima-nova";
	font-weight: 900;
	font-size: 26px;
	text-align: center;	
	color: #3777bc;
	margin-bottom: 30px;
}
.section5 .row3 .leapfrog p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 20px;
	padding: 0 210px;
	text-align: center;
	color: #5f6870;
}
.section5 .row .leapfrog {
	margin: 30px 0;
}
.section5 .row4 .leapfrog h1 {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 36px;
	text-align: center;	
	color: #3777bc;
	margin-bottom: 10px;
}
.section5 .row4 .leapfrog h2 {
	font-family: "proxima-nova";
	font-weight: 900;
	font-size: 26px;
	text-align: center;	
	color: #3777bc;
	margin-bottom: 50px;
}
.section5 .row4 .leapfrog p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 20px;
	padding: 0 200px;
	text-align: center;
	color: #5f6870;
}
/*Section5 styling ends here*/

/*Section5 styling starts here*/
.section6 {
	padding: 50px 0;
	background: #fafafa;
}
.section6 h2 {
	font-family: "proxima-nova";
	font-weight: 900;
	font-size: 36px;
	color: #3777bc;
	text-align: center;
	margin-bottom: 40px;
}
.section6 .works {
	padding: 0 100px 0 10px;
}
.section6 .works img {
	display: block;
}
.section6 .works h1 {
	font-family: "proxima-nova";
	font-weight: 900;
	font-size: 20px;
	color: #3777bc;
	/*margin-bottom: 50px;*/
}
.section6 .works p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 16px;
	color: #5f6870;
}
/*Section6 styling ends here*/

/*Section7 styling starts here*/
.section7 {
	background: url('../assets/home_page/bg3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
}
.section7 .left {
	padding: 0 100px;
}
.section7 .right {
	padding: 0 60px;
}
.section7 .left .calculator {
	background: #ffffff;
	padding: 30px;
	padding-bottom: 50px;
	box-shadow: 0 0 2px #333333;
	position: relative;
}
.section7 .left .calculator .blackbox {
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 20% 10%;
	background: transparent;
	background: rgba(0,0,0,1);
}
.section7 .left .calculator .blackbox-inner {
	width: 100%;
	padding: 10px;
	min-height: 80%;
	background: transparent;
	background: rgba(255,255,255,1);
}
.section7 .left .calculator .blackbox-inner img {
	height: 20px;
	width: auto;
}

.section7 .left .calculator .blackbox-inner p {
	font-family: "proxima-nova";
	font-size: 16px;
	line-height: 1.5;
}
.section7 .left .calculator>p {
	font-family: "proxima-nova";
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	color: #999999;
	margin-bottom: 10px;
}
.section7 .left .calculator input {
	border: 1px solid rgba(125,125,125,0.5);
	color: #7b7b7b;
	background: #fafafa;
	padding: 6px 10px;
	width: calc(90% - 1px);
	box-shadow: 0px 0px 2px rgba(125,125,125,0.5);
	margin-bottom: 20px;
	text-align: center;
}
.section7 .left .calculator .slider {
	width: calc(90% - 1px);
	float: left;
	height: 28px;
	position: relative;
	cursor:pointer;
}
.section7 .left .calculator .slider .line {
	background: rgba(125,125,125,0.5);
	height: 1px;
	width: 100%;
	position: absolute;
	top: 14px;
}
.section7 .left .calculator .slider .line-blue {
	background: #01A7E1;
	height: 28px;
	width: 15px;
	position: absolute;
	top: 0;
	left: 0;
}
.section7 .left .calculator .slider .line1, .section7 .left .calculator .slider .line2, .section7 .left .calculator .slider .line3 {
	height: 28px;
	width: 2px;
	background: rgba(125,125,125,0.5);
	position: absolute;
}
.section7 .left .calculator .slider .line1 {
	float: left;
	left: 0%;	
}
.section7 .left .calculator .slider .line2 {
	float: left;
	left: 50%;	
}
.section7 .left .calculator .slider .line3 {
	float: left;
	left: 100%;	
}
.section7 .left .calculator .slider p {
	width: 33.334%;
	float: left;
	margin: 0;
	margin-top: 28px;
	color: #7b7b7b;
}
.section7 .left .calculator .slider p:nth-of-type(1) {
	text-align: left !important;
}
.section7 .left .calculator .slider p:nth-of-type(2) {
	text-align: center !important;
}
.section7 .left .calculator .slider p:nth-of-type(3) {
	text-align: right !important;
}
.section7 .left	.green {
	background: #63b84d;
	padding: 15px 30px;
	box-shadow: 0 1px 2px #333333;
	border-top: 1px solid #ffffff;
}
.section7 .left	.green p {
	color: #ffffff;
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 13px;
	width: 45%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.section7 .left	.green p:nth-of-type(2) {
	text-align: right;
}
.section7 .left	.iicon {
	float: right;
	width: 5%;
	height: auto;
	position: relative;
}
.section7 .left	.iicon img {
	width: 100%;
	height: auto;
}
.section7 .left	.iicon:hover .hover-box {
	display: block;
}
.section7 .left	.iicon .hover-box {
	z-index: 100;
	position: absolute;
	top: -50%;
	left: 200%;
	width: 300px;
	max-width: 480px;
	background: #f3f3f3;
	padding: 20px;
	border-radius: 2px;
	display: none;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.section7 .left	.iicon .hover-box p {
	font-family: "proxima-nova";
	font-size: 12px;
	font-weight: normal;
	color: #7b7b7b;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
.section7 .left>p {
	font-family: "proxima-nova";
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 30px 10px;
}

.section7 .right h1 {
	font-family: "proxima-nova";
	font-size: 36px;
	font-weight: normal;
	color: #ffffff;
}
.section7 .right h2 {
	font-family: "proxima-nova";
	font-size: 22px;
	font-weight: normal;
	color: #ffffff;
}
/*Section7 styling ends here*/


/*Styling for section8 Starts here*/
.section8 {
	background: #5f6870;
	background: url('../assets/home_page/bg4.jpg');
	padding: 30px 0;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-origin: left top;
	background-size: cover;
}
.section8 .test-col-1 img {
	opacity: 0.55;
}
.section8 .test-col-1 { padding: 30px 0; text-align: center; }

.section8 .test-col-2 p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-size: 80px;
	color: #7b7b7b;
	padding: 0;
	margin: 0;
	text-align: center;
}
.section8 .test-col-2 { border-right: 2px solid #7b7b7b;  }

.section8 .test-col-3 { padding: 0 30px; }
.section8 .test-col-3 p {
	font-family: "proxima-nova";
	font-weight: normal;
	font-style: italic;
	line-height: 1.25;
	margin-bottom: 0px;
	font-size: 16px;
	color: #7b7b7b;
	padding: 6px 0 0 0;
	vertical-align: middle;
}
/*Section8 styling ends here*/

/*Section9 styling starts here*/
.section9 {
	background: #01a7e1;
	padding: 100px 0 20px 0;
}
.section9 .left {
	padding: 0 60px;
}
.section9 .left h1 {
	font-family: "proxima-nova";
	font-size: 38px;
	line-height: 1.5;
	font-weight: normal;
	color: #ffffff;
	display: none;
}
.section9 .left img {
	display: block;
}
.section9 .left img:nth-of-type(2) {
	float: right;
	margin-top: 50px;
}
.section9 .right {
	padding: 0 100px;
}

.section9 .right form {
	background: #ffffff;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	padding: 30px;
	margin-bottom: 20px;
}
.section9 .right form input[type="text"] {
	display: block;
	width: 100%;
	border: 0;
	padding: 15px;
	margin: 0 0 20px 0;
	background: #f5f5f5;
	border-radius: 2px;
	font-size: 16px;
}
.section9 .right form input[type="submit"] {
	background: #ff931e;
	border: 0;
	display: block;
	width: 100%;
	padding: 15px;
	color: #ffffff;
	font-size: 20px;
	font-family: "proxima-nova";
	font-weight: normal;
	margin-bottom: 20px;
	border-radius:5px;
}
.section9 .right form p {
	font-family: "proxima-nova";
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	color: #7b7b7b;
}
.section9 .right p {
	font-family: "proxima-nova";
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
}
/*Section9 styling ends here*/

/*Section10 styling starts here*/
.section10 {
	padding: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.section10 .inc {
	text-align: center;
}
.section10 .inc img {
	max-width: 100%;
}
/*Section10 styling ends here*/

/*Section11 styling starts here*/
.section11 {
	padding: 40px;
}
.section11 .first p:first-child {padding: 30px 0 0 0;}
.section11 .first p {
	font-family: "proxima-nova";
	text-align: center;
	font-size: 18px;
}
.section11 .second h2 {
	font-family: "proxima-nova";
	font-size: 20px;
	color: #5f6870;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.section11 .second p {
	font-family: "proxima-nova";
	font-size: 16px;
	color: #5f6870;
	line-height: 1.5;
	text-transform: uppercase;
	margin-bottom: 0;
}
.section11 .second p a {
	font-family: "proxima-nova";
	font-size: 16px;
	color: #5f6870;
	text-transform: uppercase;
}
.section11 .clearfix {
	display: none;
}
.section11 .third h2 {
	font-family: "proxima-nova";
	font-size: 20px;
	color: #5f6870;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.section11 .third ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.section11 .third ul li:hover {
	cursor: pointer;
}
.section11 .third ul li {
	float: left;
	text-align: center;
	height: 50px;
	width: 50px;
	padding: 15px;
	border-radius: 50%;
	background: #5f6870;
	margin-right: 20px;
}
.section11 .third ul li i {
	color: #ffffff;
	font-size: 20px;
}
/*Section11 styling ends here*/





/************************************************************************************************/
/* @media Queries for Wearables (Apple Watch + Moto 360 Watch) Stars here
/************************************************************************************************/
/* ----------- Apple Watch ----------- */
@media
(max-device-width: 42mm)
and (min-device-width: 38mm) { 

}
/* ----------- Moto 360 Watch ----------- */
@media 
(max-device-width: 218px)
and (max-device-height: 281px) { 

}
/************************************************************************************************/
/* @media Queries for Wearables (Apple Watch + Moto 360 Watch) Ends here
/************************************************************************************************/

/************************************************************************************************/
/* @media Queries for Smartphones (iPhone + Galxxy phones + HTC Phones) Starts Here
/************************************************************************************************/
/* ----------- Smartphones (portrait and landscape) ----------- */

/* Smartphones (Portrait and Landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
/* Smartphones (Portrait) */
@media only screen 
and (max-width : 320px) {

}
/* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) {

}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}
/*****************************************************************************************/
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}
/*********************************************************************************************/
/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}
/************************************************************************************************/
/* @media Queries for Smartphones (iPhone + Galxxy phones + HTC Phones) Starts here
/************************************************************************************************/

/************************************************************************************************/
/* @media Queries for Tablets (iPads + Galaxy Tabs + Nexus Tabs + Kindle Fire) Starts here
/************************************************************************************************/
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}
/*********************************************************************************/
/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
(min-device-width: 800px) 
and (max-device-width: 1280px) {

}

/* Portrait */
@media 
(max-device-width: 800px) 
and (orientation: portrait) { 

}

/* Landscape */
@media 
(max-device-width: 1280px) 
and (orientation: landscape) { 

}
/**********************************************************************************/
/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 601px) 
and (device-height: 906px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
and (device-width: 601px) 
and (device-height: 906px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 601px) 
and (device-height: 906px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) 
and (orientation: landscape) {

}
/************************************************************************************/
/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 800px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
and (min-device-width: 800px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 800px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: landscape) {

}
/* ----------- Motorola's Xoom ----------- */

@media (max-device-width: 1280px) 
and (orientation: landscape) { 

}
@media (max-device-width: 800px) 
and (orientation: portrait) { 

}
/************************************************************************************************/
/* @media Queries for Tablets (iPads + Galaxy Tabs + Nexus Tabs + Kindle Fire) Ends here
/************************************************************************************************/

/************************************************************************************************/
/* @media Queries for LAPTOPs (Retina + Non-Retina) Starts here
/************************************************************************************************/
/* ----------- Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px)
and (max-width : 1440px) {

}
/* ----------- Large screens ----------- */
@media only screen 
and (min-width : 1824px)
and (max-width : 2160px) {

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
}
/************************************************************************************************/
/* @media Queries for LAPTOPs (Retina + Non-Retina) Ends here
/************************************************************************************************/


/************************************************************************************************/
/* @media Queries Just Few Extras Starts here
/************************************************************************************************/
@media screen and (max-width: 320px) {}
@media screen and (max-width: 640px) {}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 860px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 1028px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1350px) {}
.flexslider{ display:none;}
.flexoutside
{
	display:none;
}
.flex-control-paging li a.flex-active
{
	background: #63b84d !important;
}
.flex-control-paging li a
{
	background: rgba(0, 0, 0, 0.3) !important;
}

/*MDL @media Queries starts here */
@media (max-width: 768px){
		.drop2down{
		display: none;
	}
}
@media (max-width: 479px) {
	.flexslider{ display:block;}
	.flex-direction-nav
	{
		display: none !important;
	}
	.flexoutside
	{
		display:block !important;
		margin-top: 20px !important;
		border-top: 1px solid rgba(0,0,0,0.1) !important;
		background: rgba(0,0,0,0.02) !important;
	}
	.beforeafter
	{
		display: none;
	}
	ol.flex-control-nav.flex-control-paging
	{
		display: block;
	}

	.navbar-default .container .drop2down {
		opacity: 0;
		height: 0;
		-webkit-transition: height 1s, opacity 0.5s;
		-moz-transition: height 1s, opacity 0.5s;
		-o-transition: height 1s, opacity 0.5s;
		-ms-transition: height 1s, opacity 0.5s;
		transition: height 1s, opacity 0.5s;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #ffffff;
	}
	.navbar-toggle {
		padding: 1px 5px;
		border: 0;
	}
	.navbar-toggle .icon-bar {
		display: block;
		width: 32px;
		height: 1px;
		border-radius: 1px;
		margin: 8px 0;
	}
	.navbar-default .container .center {
		margin: 0; 
	}
	.navbar-default .container .center p {
		text-align: center;
		margin: 0;
	}
	.navbar-default .container .right {
		margin: 0;
	}
	.navbar-default .container .right p {
		text-align: center;
		margin: 0;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin: 0;
		padding-left: 10px;
	}
	.navbar > .container .navbar-brand img, .navbar > .container-fluid .navbar-brand img {
		height: auto;
	}


	.section1 {
		padding: 40px 0;
		background-position: 70% 100%;
	}
	.section1 .banner {
		padding: 0 15px;
	}
	.section1 .banner h1 {
		margin: 0;
		font-size: 46px;
		width: 100%;
	}
	.section1 .banner h2 {
		font-size: 18px;
		width: 100%;
	}
	.section1 .banner button {
		padding: 14px 25px;
		width: 100%;
		border-radius: 0;
	}
	.section2 {
		box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
	}
	.section2 .clients h1 {
		font-size: 22px;
	}
	.section2 .clients ul li:nth-of-type(1) img {
		width: 28%;
		height: auto;
	}
	.section2 .clients ul li:nth-of-type(2) img {
		width: 42%;
		height: auto;
	}        
	.section2 .clients ul li:nth-of-type(3) img {
		width: 46%;
		height: auto;
	}
	.section2 .clients ul li:nth-of-type(4) img {
		width: 50%;
		height: auto;
		margin-top: 4px;
	}
	.section2 .clients ul li:nth-of-type(5) img {
		width: 58%;
		height: auto;
	}        
	.section2 .clients ul li:nth-of-type(6) img {
		width: 60%;
		height: auto;
		margin-top: 5px;
	}
	.section2 .clients ul li {
		float: left;
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
		padding: 0;
		position: relative;
		text-align: center;
		display: inline-block;
	}
	.section2 .clients ul li img {
		display: inline-block;
		margin: 0 auto;
	}

	.section3 .highlights {
		padding: 20px 15px;
		border-bottom: 1px solid rgba(125,125,125,0.5);
	}
	.section3 .highlights:last-child {
		border:0;
	}
	.section3 .highlights div {
		display: none;
	}
	.section3 .highlights div img {
		width: auto;
		height: 36px;
	}
	.section3 .highlights h1 {
		font-size: 30px;
		color: #00a9e2;
		text-align: center;
	}
	.section3 .highlights p {
		font-size: 19px;
		text-align: center;
	}
	
	.section4 {
		width: 90%;
		margin: 0 auto;
	}
	.section4 .test-col-2 {
		width: 86%;
		margin: 0 auto;
		border: 0;
		border-bottom: 1px solid #ffffff;    
		margin-bottom: 20px;
		padding-bottom: 4px;
	}
	.section4 .test-col-2 p {
		font-size: 62px;
	}
	.section4 .test-col-3 p {
		text-align: center;
		font-size: 19px;
	}
	.section4 .test-col-3 p:last-child {
		font-size: 16px;
	}
	.section5 {
		padding: 30px 0;
		overflow-x: hidden;
	}
	.section5 .values-col-1 h2 {
		font-size: 26px;
		margin: 40px 0;
		color: #00a9e2;
	}
	.section5 .values-col-1 p {
		font-size: 18px;
		padding: 0;
		text-align: center;
	}
	.section5 .row .leapfrog {
		margin: 0;
	}

	.section5 .row2 {
		width: 600%;
		padding: 20px 0 0 0;
		border: 0;
		margin-top: 20px;
		border-top: 1px solid rgba(0,0,0,0.1);
		background: rgba(0,0,0,0.02);
		display:none;
	}
	.section5 .row2 .small {
		width: calc(100% / 5.5);
		float: left;
		display: inline;
	}
	.section5 .small h1 {
		font-size: 20px;
		letter-spacing: 2px;
	}
	.section5 .small div {
		font-size: 36px;
		padding: 2px 0;
	}
	.section5 .small p {
		font-size: 18px;	
	}
	.section5 .slide-indicators {
		border: 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		background: rgba(0,0,0,0.02);
		padding: 6px 0 20px 0;
	}
	.section5 .slide-indicators ul {
		padding: 0;
		margin: 0 auto;
		width: 136px;
		list-style-type: none;
	} 
	.section5 .slide-indicators ul li {
		padding: 0;
		margin: 6px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: rgba(0,0,0,0.3);
		float: left;
		display: inline;
	} 
	.section5 .slide-indicators ul li.active {
		background: #63b84d;
	}



	.section5 .row3 {
		padding: 30px 0;
	}
	.section5 .row3 .leapfrog h1 {
		font-size: 30px;
		color: #00a9e2;
		line-height: 1.3;
	}
	.section5 .row3 img {
		margin-top: 40px;
		width: 96%;
	}
	.section5 .row3 .leapfrog h2 {
		font-size: 18px;
		margin-bottom: 40px;
		color: #00a9e2;
	}
	.section5 .row3 .leapfrog p {
		font-size: 20px;
		padding: 0;
		text-align: center;
	}

	.section5 .row4 {
		padding: 20px 0px;
	}
	.section5 .row4 .leapfrog h1 {
		font-size: 30px;
		color: #00a9e2;
		line-height: 1.3;
	}
	.section5 .row4 .leapfrog h2 {
		font-size: 18px;
		margin-bottom: 40px;
		color: #00a9e2;
	}
	.section5 .row4 .leapfrog p {
		font-size: 20px;
		padding: 0;
		text-align: center;
	}
	
	.section6 {
		padding: 30px 0;
	}
	.section6 h2 {
		font-size: 30px;
		color: #00a9e2;
	}
	.section6 .works {
		padding: 0 15px 10px 15px;
	}
	.section6 .works h1 {
		text-align:center;
		color: #00a9e2;
	}
	.section6 .works img {
		margin: 0 auto;
		margin-top:20px;
	}
	.section6 .works p {
		text-align: center;
		font-size: 20px;
	}
	
	.section7 {
		padding: 30px 0;
	}
	.section7 .left {
		padding: 0;
	}
	.section7 .left .green {
		position: relative;
	}
	.section7 .left .green p {
		width: 100%;
		text-align: center;	
		font-size: 18px;
	}
	.section7 .left .green p:nth-of-type(2) {
		text-align: center;
	}
	
	.section7 .left .calculator {
		padding: 40px 8px;
	}
	.section7 .left .calculator input {
		width: 100%;
		padding: 10px 10px;
	}
	.section7 .left .iicon {
		float: right;
		width: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.section7 .left div:nth-of-type(5) {
		margin-bottom: 40px;
	}
	.section7 .left div:nth-of-type(5) .iicon {
		right: 24px;
		top: -30;
	}
	.section7 .left .calculator .slider {
		width: calc(99% - 1px); 
	}
	.section7 .left	.iicon .hover-box {
		left: initial;
		right: 20px;
		width: 300px;
		max-width: 228px;
	}
	.section7 .left .green .iicon {
		float: right;
		width: 20px;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.section7 .left > p {
		font-size: 16px;
	}
	.section7
	{
		padding-bottom:0;
	}
	.section7 .right {
		padding: 0 10px;
	}
	.section7 .right h1 {
		text-align: center;
		font-weight: 600;
		color: #ffffff;
		line-height: 50px;
	}
	.section7 .right h2 {
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		color: #ffffff;
		margin-bottom: 55px;
	}
	
	
	.section8 {
		background: #58c8fa;
	}
	.section8 .container {
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		margin: 15px;
		padding: 0 40px 20px 40px;
	}
	.section8 .test-col-2 {
		border: 0;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(0,0,0,0.5)
	}
	.section8 .test-col-2 p {
		font-size: 50px;
	}
	.section8 .test-col-3 {
		padding: 0;
	}
	.section8 .test-col-3 p {
		font-size: 19px;
		text-align: center;
	}
	.section8 .test-col-3 p:last-child {
		font-size: 16px;
	}

	.section9 {
		padding: 30px 0;
		padding-bottom: 15px;
	}
	.section9 .left {
		padding: 0 10px;
	}
	.section9 .left h1 {
		display: block;
		text-align: center;
		line-height: 1.2;
		font-weight: 600;
		margin-bottom: 46px;
	}
	.section9 .left img {
		display: none;
	}
	.section9 .right {
		padding: 0;
	}
	.section9 .right form {
		padding: 40px 10px;
	}
	.section9 .right form input[type="text"] {
		margin-bottom: 10px;
	}
	.section9 .right form input[type="submit"] {
		border-radius: 0;
	}
	.section9 .right p {
		font-size: 15px;
		color: #ffffff;
    	text-align: center;
	}
	
	.section10 {
		padding: 36px 0;
		height: 180px;
	}
	.section10 .inc img {
		max-width: 100%;
	}
	.section10 .inc span {
		font-family: "proxima-nova";
		font-weight: normal;
		font-size: 14px;
		color: #3f3f3f;
		padding: 0 0 0 68px;
		display: block;
		line-height: 1.25;
		text-align: left;
	}

	.section11 {
		padding: 0;
	}
	.section11 .first, .section11 .second, .section11 .third {
		padding: 10px 0px;
		height: 180px;
		border-bottom: 1px solid #999999;
	}
	.section11 .first {
		padding: 40px 0px;
	}
	.section11 .first p:first-child {
		padding: 0;
	}
	.section11 .first p:first-child img{
		width: 50%;
	}
	.section11 .second h2, .section11 .second p, .section11 .third h2 {
		text-align: center;
		line-height: 2;
	}
	.section11 .second p, .section11 .second p a {
		text-transform: capitalize;
	}


	.section11 .third {
		position: relative;
		display: block;
		display: block;
		text-align: center;
	}
	.section11 .third ul {
		display: inline-block;
		margin: 0 auto;
	}
	.section11 .third ul li {
		height: 46px;
		width: 46px;
		padding: 13px;
		margin: 0 10px;
	}
}








@media (min-width: 840px) and (max-width: 991px){
	.section4 .test-col-2
	{
		border-right:0;
	}
	.section8 .test-col-2
	{
		border-right:0;
	}
	.section5 .big .plum
	{
		display:none;
	}
	.arroworange
	{
		display:none !important;
	}
	.arrowtext
	{
		margin: 0 auto 50px;
	}
	.clearfix
	{
		display:block;
	}
}



@media (min-width: 480px) and (max-width: 839px) {
	.section1 {
		padding: 60px 0;
		background-position: 100% 100%;
	}
	.section1 .banner {
		padding: 0 15px;
	}
	.section1 .banner h1 {
		margin: 0;
		font-size: 40px;
		width: 50%;
	}
	.section1 .banner h2 {
		font-size: 18px;
		width: 45%;
	}
	.section1 .banner button {
		padding: 12px 50px;
		border-radius: 0;
	}
	.section2 .clients h1 {
		font-size: 14px;
	}
	.section2 .clients ul li {
		float: left;
		width: 33.333%;
		margin: 10px 0;
		margin-bottom: 15px;
		padding: 0;
		position: relative;
		text-align: center;
		display: inline-block;
	}
	.section2 .clients ul li img {
		display: inline-block;
		margin: 0 auto;
	}
	.section2 .clients ul li:nth-of-type(1) img {
		margin-left: 40%;
		/*width: 28%;*/
		/*height: auto;*/
	}
	.section2 .clients ul li:nth-of-type(2) img {
		/*width: 42%;*/
		/*height: auto;*/
	}        
	.section2 .clients ul li:nth-of-type(3) img {
		margin-right: 40%;
		/*width: 46%;*/
		/*height: auto;*/
	}
	.section2 .clients ul li:nth-of-type(4) img {
		/*width: 50%;*/
		/*height: auto;*/
	}
	.section2 .clients ul li:nth-of-type(5) img {
		/*width: 58%;*/
		/*height: auto;*/
	}        
	.section2 .clients ul li:nth-of-type(6) img {
		/*width: 50%;*/
		/*height: auto;*/
	}
	.section2 {
		box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
	}
	.section3 .highlights {
		padding: 0 26px;
		width: calc(33.333%);
		float: left;
	}
	.section3 .highlights:last-child {
		padding-right: 10px; 
	}
	.section3 .highlights div {
		display: none;
	}
	.section3 .highlights div img {
		width: auto;
		height: 36px;
	}
	.section3 .highlights h1 {
		font-size: 26px;
		color: #00a9e2;
		text-align: left;
	}
	.section3 .highlights p {
		font-size: 16px;
		text-align: left;
	}


	.section4 {
		background-position: 30% 100%;
	}
	.section4 .test-col-1 {
		padding: 30px 0;
		text-align: center;
		width: 60%;
		float: left;
	}
	.section4 .test-col-2 {
		border: 0;
		width: 40%;
		float: left;
	}
	.section4 .test-col-2 p {
		font-size: 50px;
		line-height: 2.25;
		text-align: left;
	}
	.section4 .clearfix {
		border-bottom: 1px solid #ffffff;
		width: 80%;
		margin: 0 auto;
	}
	.section4 .test-col-3 p {
		width: 80%;
		margin: 0px auto;
		padding-top: 20px;
		line-height: 1.5;
	}
	.section4 .test-col-3 p:last-child {
		text-align: right;
		padding-top: 10px;
		font-size: 15px;
	}

	.section5 {
		padding: 30px 0 50px 0;
	}
	.section5 .values-col-1 h2 {
		margin: 25px 0;
		font-size: 30px;
		color: #00a9e2;
		text-align: center;
	}
	.section5 .values-col-1 p {
		font-size: 16px;
		padding: 0;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}
	.section5 .row .leapfrog {
		margin: 0;
	}

	.section5 .row2 {
		padding: 20px 0 30px 0;
	}
	.section5 .row2 .small {
		font-size: 85%;
		float: left;
		padding: 0 30px;
		width: 33.333%;
	}
	.section5 .row2 .small p {
		letter-spacing: 1;
	}
	.section5 .big {
		padding: 210px 0 0 0;
	}
	.section5 .big .plum {
		display: block;
	}
	.section5 .row3 {
		padding: 30px 0;
	}
	.section5 .row3 .leapfrog h1 {
		font-size: 30px;
		color: #00a9e2;
	}
	.section5 .row3>img {
		margin: 40px 0 10px 0;
		width: 96%;
	}
	.section5 .row3 .leapfrog h2 {
		font-size: 18px;
		margin-bottom: 40px;
		color: #00a9e2;
	}
	.section5 .row3 .leapfrog p {
		font-size: 16px;
		padding: 0;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}

	.section5 .row4 .leapfrog h1 {
		font-size: 30px;
		color: #00a9e2;
	}
	.section5 .row4 .leapfrog h2 {
		font-size: 18px;
		margin-bottom: 40px;
		color: #00a9e2;
	}
	.section5 .row4 .leapfrog p {
		font-size: 16px;
		padding: 0;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}
	
	.section6 {
		padding: 30px 0;
	}
	.section6 h2 {
		font-size: 30px;
		color: #00a9e2;
	}
	.section6 .works {
		padding: 0 15px 10px 15px;
	}
	.section6 .works img {
		display: inline;
		float: left;
	}
	.section6 .works h1 {
		text-align: left;
		padding: 0 70px;
		color: #00a9e2;
	}
	.section6 .works p {
		color: #666666;
		text-align: left;
		font-size: 15px;
		padding: 0 70px;
		letter-spacing: 0.5;
	}
	
	.section7 {
		padding: 30px 0;
	}
	.section7 .left {
		padding: 0 140px;
	}
	.section7 .left .calculator input {
		padding: 10px;
	}
	.section7 .left .iicon {
		margin-top: 10px;
	}
	.section7 .left .iicon .hover-box {
		left: initial;
		left: -500%;
		width: 300px;
		max-width: 228px;
		top: 30px;
	}
	.section7 .left .green {
		padding: 30px;
	}
	.section7 .left .green .iicon {
		margin-top: 0;
	}
	.section7 .right {
		padding: 0 10px;
	}
	.section7 .right h1 {
		text-align: center;
		width: 60%;
		margin: 0 auto;
	}
	.section7 .right h2 {
		margin-bottom: 40px;
		text-align: center;
	}
	
	.section8 {
		background-position: 30% 100%;
	}
	.section8 .test-col-1 {
		padding: 30px 0;
		text-align: center;
		width: 60%;
		float: left;
	}
	.section8 .test-col-2 {
		border: 0;
		width: 40%;
		float: left;
	}
	.section8 .test-col-2 p {
		font-size: 50px;
		line-height: 2.25;
		text-align: left;
	}
	.section8 .clearfix {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		width: 80%;
		margin: 0 auto;
	}
	.section8 .test-col-3 p {
		width: 80%;
		margin: 0px auto;
		padding-top: 20px;
		line-height: 1.5;
	}
	.section8 .test-col-3 p:last-child {
		text-align: right;
		padding-top: 10px;
		font-size: 15px;
	}
	

	.section9 {
		padding: 30px 0;
	}
	.section9 .left {
		padding: 0 10px;
	}
	.section9 .left h1 {
		display: block;
		text-align: center;
		margin: 20px 0;
		width: 80%;
		margin: 0 auto;
	}
	.section9 .left img {
		display: none;
	}
	.section9 .left h1 {
		text-align: center;
	}
	.section9 .right {
		padding: 0 140px;
	}
	
	.section10 {
		padding: 30px 0;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	.section10 .inc {
		padding: 20px 0 0 0;
		text-align: left;
	}
	.section10 .inc img {
		max-width: 100%;
		width: 55%;
		float: left;
		margin-top: -20px;
	}
	.section10 .inc span {
		font-size: 16px;
		color: #3f3f3f;
		/*margin-top: 50px; */
		padding: 0 0 0 20px;
		line-height: 1.25;
	}

	.section11 {
		padding: 30px 0;
	}
	.section11 .first {
		margin: 20px 0;
		width: 40%;
		float: left;
		border-right: 1px solid rgba(0,0,0,0.2);
	}
	.section11 .first p:first-child {
		padding: 0;
	}
	.section11 .first p:first-child img{
		width: 60%;
	}
	.section11 .second h2, .section11 .second p, .section11 .third h2 {
		text-align: left;
	}
	.section11 .second {
		width: 30%;
		float: left;
		padding: 0 0 0 30px;
	}
	.section11 .clearfix {
		display: block;
	}
	.section11 .third {
		width: 100%;
		display: block;
		float: none;
		clear: both;
		padding: 20px 0;
		margin-top: 40px;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	.section11 .third h2 {
		text-align: center;
		width: 50%;
		float: left;
		padding: 21.5px 30px;
	}


	.section11 .third {
		position: relative;
		display: block;
		display: block;
		text-align: center;
	}
	.section11 .third ul {
		display: inline-block;
		margin: 0;
		float: left;
		margin-top: 30px;
	}
}

/************************************************************************************************/
/* Team Pages
/************************************************************************************************/
.header{
	background: #00A5E4 url("../assets/hero_logo.png") no-repeat center top;
	height: 240px;
}

.single-member-header{
	background: #00A5E4 url("../assets/hero_logo_right.png") no-repeat center right;
	height: 240px;
}

.header h1{
	line-height: 200px;
	text-align: center;
	font-family: "proxima-nova", sans-serif;
	font-size: 56px;
	font-weight: lighter;
	color: #fff;
}

.team-member{
	text-align: center;
	padding-top: 64px;
}

.team-member h2{
	font-family: "proxima-nova", sans-serif;
	color: #26A5E2;
	font-weight: lighter;
	margin: 0;
	font-size: 30px;
	padding-top: 20px;
}

.team-member h3{
	font-family: "proxima-nova", sans-serif;
	color: #5f6870;
	margin: 0;
	font-size: 20px;
}

.faces{
	padding: 24px;
}

.advisory-board{
	background: #FAFAFA;
	padding: 24px;
}

.advisory-board h1{
	text-align: center;
	font-family: "proxima-nova", sans-serif;
	font-size: 56px;
	font-weight: lighter;
	color: #17A4E5;
}

.team{
	margin-bottom: 64px;
}

.single-member{
	text-align: left !important; 
	margin-top: -91px;
	padding-top: 0px;
}

.single-member h2{
	font-size: 36px;
}

.single-member h3{
	font-size: 24px;
}

.about{
	padding-top: 40px;
	padding-bottom: 40px;
}

.about p{
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	line-height: 1.4;
	color: #5f6870;

}

.about i{
	font-style: normal;
	color: #00A4E7;
}





@media (min-width: 840px) {}
@media (min-width: 760px) and (max-width: 1024px) {}
@media screen and (max-width: 1024px) {}
@media screen and (min-width: 1025px) {}
/*MDL @media Queries ends here */

/************************************************************************************************/
/* @media Queries Just Few Extras Ends here
/************************************************************************************************/

/* 8.0 Media Queries  ----------------------------------------------*/

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
 @-ms-viewport {
 	width: device-width;
 }
 @viewport {
 	width: device-width;
 }

 @media (max-width: 1599px) {
 	.site {
 		border: 0;
 	}
 }

 @media (max-width: 1069px) {
 	.site {
 		border: 0;
 	}
 }

 @media print {
 	body {
 		background: none !important;
 		color: #000;
 		font-size: 10pt;
 	}

 	footer a[rel="bookmark"]:link:after,
 	footer a[rel="bookmark"]:visited:after {
 		content: " [" attr(href) "] "; /* Show URLs */
 	}

 	.site {
 		max-width: 98%;
 	}

 	.site-header {
 		background-image: none !important;
 	}
 }